Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^login/?$ public/login.php [L]
    RewriteRule ^logout/?$ public/logout.php [L]
    RewriteRule ^api/(.*)$ public/api/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
